/* 导航主体 */
.nav-side{
  float: left;
  width: 150px;
  min-height: 100px;  /*在nav-side渲染出来之前撑开容器高度，以免右边元素跳到nav-side的位置*/
}
.nav-side .nav-item{
  display: inline-block;
  width: 150px;
  line-height: 30px;
  margin-bottom: 3px;
  overflow: hidden;
}
.nav-side .nav-item .link{
  padding-left: 10px;
}
.nav-side .nav-item .active{
  display: inline-block;
  width:150px;
  background: #f8e7dd;
  color: #F54000;
}
.nav-side .nav-item:hover{
  background: #f8e7dd;
  color: #F54000;
}
/* 右侧内容区 */
.content.width-nav{
  float: left;
  width: 920px;
}