.nav{
  background: #f1f1f1;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #f9f9f9;
}
/* 用户 */
.nav .user{
  float: left;
 
}
.nav .user .link{
  margin-right: 5px;
}
.nav .user .js-logout{
  margin-left: 5px;
}
.nav .user.login{
  display: none;
}
/* 导航菜单 */
.nav .nav-list{
  float: right;
}
.nav .nav-list .nav-item{
  display: inline-block;
  margin-left: 5px;
}