<div class="footer">
  <div class="w">
    <div class="links">
      <a href="https://taobao.com/" class="link" target="_blank">淘宝</a>|
      <a href="https://jingdong.com/" class="link" target="_blank">京东</a>|
      <a href="https://baidu.com/" class="link" target="_blank">百度</a>|
      <a href="https://weibo.com/" class="link" target="_blank">微博</a>
    </div>
    <p class="copyright">
        Copyright © 2018 SkyMall 
    </p>
  </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!--注意jQuery引入的位置，不能放在body后面-->